 :root{
    --main-bg-color : #eff5fe;
    --border-color : #0288d147;
    --container-width: 500px;
}
body,html{
    font-family: system-ui;
    background: var(--main-bg-color) ;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

}
body,.drop-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.upload-container{
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone{
    width: var(--container-width);
    min-height: 200px;
    border: 2px dotted var(--border-color);
    margin: 30px;
    border-radius: 10px;
    transition: all .2s ease;
}
.dragged.drop-zone{
    background: var(--main-bg-color);
    border-color: skyblue;
}
.icon-container{
    width: 75px;
    height:100px;
    position: relative;
}
 .icon-container img{
    width: 75px;
    position:absolute;
    transform-origin: bottom;
    transition: transform 250ms ease-in-out ;

}
.icon-container .center{ 
    z-index: 2;
}
.icon-container.right, .icon-container.left{
    filter: grayscale(.5);
    transform: scale(.9);
}
.dragged .icon-container .right{ 
    transform: rotate(10deg)translateX(20px)scale(.9);
}
.dragged .icon-container .left{
    transform: rotate(-10deg)translateX(-20px)scale(.9);
}

.dragged .icon-container .center{
    transform: translateY(-5px);
}

#fileinput{
    display: none;
}
.browsebtn{
    color:#2196f3;
    cursor: pointer;
}
/*progress bar*/
.progress-container {
  border: 2px solid var(--main-bg-color);
  width: var(--container-width);
  height: 70px;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
   display: none; 
}

.progress-container .inner-container {
  margin: 10px 15px;
  z-index: 2;
  position: absolute;
  width: calc(100% - 30px);
}

.progress-container .percent-container {
  font-size: 14px;
  margin: 3px;
  opacity: 0.7;
}

.progress-container .bg-progress {
  position: absolute;
  background: var(--main-bg-color);
  width: 0%;
  height: 100%;
  
  border-radius: 3%;
  transform-origin: left;
  transition: width .25s linear ;
}

.progress-bar {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #03a9f4;
  transition: transform 200ms linear;
  transform: scaleX(0);
  transform-origin: left;
}


/* sharing container style */

.sharing-container{
  width: var(--container-width);
  margin-bottom:20px;
  margin-left: 25px;
  text-align: center;
  display: none;
}
p{
  opacity: .7;
  text-align: center;
}
.sharing-container .input-container{
  position: relative;
}

.sharing-container .input-container input{
  width:100%;
  border: 2px dashed var(--border-color);
border-radius: 6px;
padding: 10px 15px;
box-sizing: border-box;
font-size: 20px;
background: #f5fcff;
color:#0000008c
}

.input-container img{
  position: absolute;
   width:30px;
   height:22px;
   right:7px;
    top: 12px;
  background: whitesmoke;
  cursor: pointer;


}

.email-container{
  display:flex;
  align-items: center;

}

.email-container form{
  width: 100%;
  border:2px solid var(--border-color);
  border-radius: 10px;
  padding:15px;
  display:flex;
  align-items: center;
  flex-direction: column;

}

.email-container .field{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}


.email-container input{
  font-size: 14px;
  border: none;
  border-bottom:2px solid var(--border-color); 
  margin-left: 15px;
}

.email-container input:focus{
  outline:none;
}

.send-btn-container
{ background:whitesmoke;
  height:25px;
  width: 75px;
  border-radius: 4px;
   
}
.send-btn-container button{
 margin-top: 8px;
  width: 100px;
  height: 25px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.toast{
  position:absolute;
  bottom: 10px;
   right: 50%;
  transform: translate(50%,60px);
  padding: 10px 20px;
  border-radius: 5px;
  background: #04ff04;
  color: #fff;
  font-size: 18px;
  transition: transform ease-in-out 0.2s;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) , 0px 4px 6px -2px rgba(0,0,0,0.05);

}

.show.toast{
  transform:translate(50%,0);
}

